// Fuentes
$fuente_principal: 'Monserrat', sans-serif;

// Colores
$negro: #000000;
$blanco: #FFFFFF;
$verde: #2bca9b;
$tinto: #ae2f3c;
$cafe: #1c0906;
$concha: #FFF5EE;
$azulMarino: #24243c;
$grisOscuro: #333333;
$gris: #e1e1e1;


// Tamaño dispositivos
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1300px;

// Separacion
$separacion: 5rem;